body {
  margin: 0;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div#root{
}
h1{

}
.main{
  max-width: 90%;
  margin: 3% auto;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
a:visited{
  color: black;
}
.bttn{
  border-radius: 15px;
  border: none;
  padding: 10px;
  background: bisque;
  box-shadow: 2px 3px black;
  text-decoration: none;
  transition: background 0.4s;
}
.bttn:hover{
  cursor: pointer;
  background: #fff7ed;
}
.bttn:active{

}
.hide{
  display: none;
}

footer#accountFix{
  background: #fff7ed;
  padding: 2vw;
  display: flex;
  justify-content: space-between;

  position: fixed;
  width: 96vw;
  bottom: 0;
  z-index: 5;
}
input{
  margin: 5px;
}
.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#landingpage{
  background: bisque;
  width: 46vw;
  height: 100vh;
  padding-left: 4vw;
}
#landingpage h1 {
  font-size: 100px;
}
#loginpage{
  padding-right: 4vw;
  height: 50vh;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#loginpage h2{
  font-size: 50px;
}
#loginpage button{
  background: #fff7ed;
  font-size: 20px;
  transition: background 0.4s;
}
#loginpage button:hover{
  background: bisque;
  color: black;
}
.signOutButton{
  position: fixed;
  top: 0;
  right: 0;
  margin: 1% 1% 0 0;
}
label{
  font-size: 11px;
  color: dimgrey;
}
input{
  font-size: 14px;
  padding: 3px;
  width: 200px;
  background-color: #fff7ed;
}
input.bttn{
  width: 70px;
  margin-left: 65px;
}
input:focus{
  outline:none;
}
button:focus{
  outline:none;
}
#completeForm{
  margin-bottom: 2%;
}
form{
  boarder-radius: 15px;
  box-shadow: 1px 1px 10px darkgray;
  max-width: 90%;
  padding: 20px;
  margin: 0 auto;
}
.odd{
  background-color: #f5f5f5;
}
.even{
}
td{
  padding: 4px 8px 4px 8px;
}
#deleteButton{
  padding: 3px 4px 3px 4px;
  box-shadow: 1px 1px;
  font-size: 9px;
}
#addForm{
  max-width: 220px;
}