body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div#root{
}
h1{

}
.main{
  max-width: 90%;
  margin: 3% auto;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
a:visited{
  color: black;
}
.bttn{
  border-radius: 15px;
  border: none;
  padding: 10px;
  background: white;
  box-shadow: 2px 3px black;
  text-decoration: none;
  transition: background 0.4s;
}
.bttn:hover{
  cursor: pointer;
  background: dimgrey;
  color: white;
}
.bttn:active{

}
.hide{
  display: none;
}

footer#accountFix{
  background: #fff7ed;
  padding: 2vw;
  display: flex;
  justify-content: space-between;

  position: fixed;
  width: 96vw;
  bottom: 0;
  z-index: 5;
}
input{
  margin: 5px;
}
.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#landingpage{
  background: bisque;
  width: 46vw;
  height: 100vh;
  padding-left: 4vw;
}
#landingpage h1 {
  font-size: 100px;
}
#loginpage{
  padding-right: 4vw;
  height: 50vh;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#loginpage h2{
  font-size: 50px;
}
#loginpage button{
  background: #fff7ed;
  font-size: 20px;
  transition: background 0.4s;
}
#loginpage button:hover{
  background: bisque;
  color: black;
}